<div class="container">

  <div class="row">

    <h1 class="col s12 center">Burgers!</h1>
    <img class="col s2 offset-s5 burger-img" src="/assets/img/sk-uVPV_nV17Tw-unsplash.jpg" alt="">

  </div>

  <div class="row">

    <div class="col s12 m6 available center">
      <h3 class="header">Available Burgers</h3>

      <ul class="available-list">
        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}
      </ul>

    </div>

    <div class="col s12 m6 devoured center">
      <h3 class="header">Eaten Burgers</h3>
      <ul class="eaten-list">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
      </ul>

    </div>

  </div>

  <div class="row">
    <h2 class="col s12 center">Add a Burger</h2>
    <form action="">

      <div class="input-field col s12 m6 offset-m3">
        <input placeholder="Enter the Name of a Burger" id="burger" type="text" class="validate">
      </div>
      <button class="btn btn-small" id="add_burger">Add</button>

    </form>



  </div>

</div>