<li class="burger">
  <div class="row burger-row">

    <span class="col s8">{{burger_name}}</span>

    <button class="change-devoured btn btn-small col s3" data-id="{{id}}" data-new-devoured="{{devoured}}">
      {{#if devoured}}Order{{else}}Eat!{{/if}}
    </button>

  </div>

</li>